* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  font-family: "EB Garamond", serif;
}

/* navbar er kaaj shuru */

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: coral;
  width: 100%;
}

.logo {
  width: 3%;
}

.nav-links {
}

/* top section er kaaj shuru */
.top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  background: linear-gradient(
    270deg,
    rgb(235, 137, 164),
    rgba(235, 127, 152, 0.911)
  );
  padding: 10px 20px;
  height: 700px;
}

.writing-part {
  text-align: justify;
  color: rgb(255, 230, 197);
  letter-spacing: 1px;
}

.writing-part h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
}

.writing-part h2 {
  font-size: 2.1rem;
  margin-bottom: 15px;
}

.writing-part p {
  font-size: 1.3rem;
}

/* midde section er kaaj shuru */

.guideline-part {
  /* position: relative; */
  display: flex;
  align-items: center;
  gap: 30px;
  height: 700px;
  padding: 10px;
  margin-bottom: 10px;
}

.guide-image-part {
  /* position: absolute;*/
  width: 200%;
  align-self: flex-start;
}

.guide-text {
  /* position: absolute;
  font-size: 1.1rem;
 
  top: 380px;
  left: 380px; */
  width: 120%;
  color: rgb(176, 176, 248);
  align-self: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.guide-image-part-2 {
  /* position: absolute;
  top: 500px;
  right: 0px;*/
  width: 200%;
  align-self: flex-end;
}

/* third section er kaaj shuru */

.motivation-part {
  /* position: relative;
  top: 900px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.motiv-img-1 {
  width: 250%;
}
.motiv-qts {
  width: 120%;
  color: rgb(37, 141, 140);
  align-self: center;
  font-size: 2rem;
  font-weight: 600;
  padding-left: 15px;
}
.motiv-img {
  width: 250%;
}
